@(albumForm: Form[models.Album])(implicit  session: Session)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main("Album Management") {
    
    @views.html.admin.adminHeader()(session)
    
    
   <div class="container">
    <h1>Add a Album</h1>
    @form(routes.Album.save()) {
        
        <fieldset>
            @inputText(albumForm("title"), '_label -> "Album name")
            @inputText(albumForm("intro"), '_label -> "Album introduction")
            @inputText(albumForm("additional"), '_label -> "Album additional")
            @inputText(albumForm("videoNum"), '_label -> "video Numbers")

        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this album" class="btn primary"> or 
            <a href="@routes.Album.list()" class="btn">Cancel</a> 
        </div>
        
    }
    </div>
}
