
<div class="navbar ">
    <div class="navbar-inner">
    <div class="container">
      <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="#" class="brand">僕たちの勉強会</a>
      <div class="nav-collapse collapse navbar-responsive-collapse">
    
        
        <ul class="nav pull-right">
          <li><a href="#">マイ勉強会</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#">全ての勉強会一覧</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#">アカウント管理一式</a></li>
        </ul>
        
        <form action="" class="navbar-search pull-right span4">
          <input type="text" placeholder="Search" class="search-query span3">
        </form>
      </div><!-- /.nav-collapse -->
    </div>
    </div><!-- /navbar-inner -->
</div>